.DS_Store
env/
.vscode/
*.pyc
/MANIFEST
/build/
/dist/
.env
venv/
data/*
*-test.csv
.actrc
belsen_trial_mugshots/
female_guards_in_nazi_concentration_camps/
mug_shots_of_holocaust_perpetrators/
mug_shots_of_nazis/
Adam_Ankenbrand.json
Adolf_Ott.json
Adolf_Pokorny.json
Adolf_Theuer.json
Albert_Fredrich_Schwartz.json
Albert_Kesselring.json
Albin_Gretsch.json
Alfried_Krupp_von_Bohlen_und_Halbach.json
Ansgar_Pichen.json
Anton_Bergmeier.json
sample_json.zip